body{
    text-align: center;
    border: none;
    margin: 0;
    
}
#super{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    border: solid 5px;
    border-radius: 20px;
    width: 40%;
    height: 25vh;
    min-width: 350px;
   
}
#display{
    padding: 10px; /* Tạo khoảng cách giữa văn bản và viền của div */
    white-space: nowrap;
    box-sizing: border-box;
    font-family: monospace;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    font-size: 50px;
   
}
#control{
    display: flex;
    justify-content: space-evenly;
    height: 30%;
}
#startbutton{
    border-radius: 10px;
    width: 25%;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(21, 137, 0, 0.734);
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
                                                /*đặt 3 cái vào button cho gọn*/
#resetbutton{
    border-radius: 10px;
    width: 25%;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(4, 38, 133, 0.734);
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#stopbutton{
    border-radius: 10px;
    width: 25%;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(183, 0, 0, 0.734);
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
     transition: background-color 0.5s ease;
}
#startbutton:hover{
    background-color: hsla(112, 92%, 19%, 0.734);
}
#stopbutton:hover{
    background-color: rgba(104, 2, 2, 0.734);
}
#resetbutton:hover{
    background-color: rgba(5, 25, 79, 0.734);
}